<h3>Daily Calorie count</h3>
<br>

<b>Day:</b> <i><%= Time.now.strftime("%B %e, %Y") %></i>
<br>
<b>Calorie count:</b> <i><b><%= @total_calories %></b></i>
<br></br>

<b>Breakfast</b>
<br>
<% @breakfast_meals.each do |meal| %>
  <i><%= meal.name %> - <%= meal.calories %></i>
  <br>
<% end %>
<br>

<b>Lunch</b>
<br>
<% @lunch_meals.each do |meal| %>
  <i><%= meal.name %> - <%= meal.calories %></i>
  <br>
<% end %>
<br>

<b>Dinner</b>
<br>
<% @dinner_meals.each do |meal| %>
  <i><%= meal.name %> - <%= meal.calories %></i>
  <br>
<% end %>
<br>

<b>Snacks</b>
<br>
<% @snack_meals.each do |meal| %>
  <i><%= meal.name %> - <%= meal.calories %></i>
  <br>
<% end %>
<br>

<h5><a href="/<%= @user.slug %>/meals">All Meals</a></h5>
<h5><a href="/<%= @user.slug %>/new">Create a meal</a></h5>
<h6><a href="/logoff"><b>Log off</b></a></h6>
