
<h5><a href="/<%= current_user.slug %>">Return</a></h5>
<h4>Meals by Day:</h4>

<ul><% @days.each do |day| %>

      <a href="/days/<%= day.id %>/<%= @user.slug %>"><%= day.date %></a>

      - <%= day.meal_time %> <font size=1><a href="/days/<%= day.id %>/edit"><i>edit</i></a></font>
      <ul><% day.meals.each do |meal| %>
          <li> <%= meal.name %> - <%= meal.calories %>
            <font size=1><a href="/meals/<%= meal.id %>/edit"><i>edit</i></a></font></li>
   <% end %></ul>
   <br>
<% end %></ul>
