<br>
<h4>Days list</h4>

<ul><% @user.days.sort.each do |day| %>
  <a href="/days/<%= day.id %>/<%= @user.slug %>"><%= day.date %></a> - <%= day.meal_time %> <a href="/days/<%=day.id%>/edit"><font size=1>edit</font></a>
      <ul><% day.meals.each do |meal| %>
          <li> <%= meal.name %> - <%= meal.calories %> <a href="/meals/<%= meal.id %>/edit"><font size=1>edit</font></a></li>
   <% end %></ul>
   <br>
<% end %></ul>

<h6>Create a <a href="/meals/new">Meal</a></h6>

<h5><a href="/<%= @user.slug %>">Return</a></h5>
